<section *ngIf="step1" class="w-50 rounded bg-main-light p-3 mx-auto shadow">
  <form  [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email">
    <button   class="btn-main mt-3 w-100">Forgot Password</button>
    <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2 text-center">{{userMsg}}</p>
  </form>
</section>


<section *ngIf="step2" class="w-50 rounded bg-main-light p-3 mx-auto shadow">
  <form  [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
    <label for="resetcode">Rest Code</label>
    <input type="text" class="form-control" id="resetcode">
    <button class="btn-main mt-3 w-100">Confirm</button>
  </form>
</section>

<section *ngIf="step3" class="w-50 rounded bg-main-light p-3 mx-auto shadow">
  <form  [formGroup]="restPassword" (ngSubmit)="newPassword()">
    <label for="newpassword">New Password</label>
    <input type="password" class="form-control" id="newpassword">
    <button class="btn-main mt-3 w-100">tmm</button>
  </form>
</section>


